body{
  margin:0;
  font-family:Arial;
  background:#0a0f2e;
  color:white;
}

.app{
  text-align:center;
  padding:20px;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  color:#00e0ff;
}

.search input{
  padding:10px;
  border-radius:20px;
  border:none;
}

.icons{
  display:flex;
  gap:15px;
  font-size:18px;
}

.title{
  margin-top:30px;
}

/* CAROUSEL VIEWPORT */
.viewport{
  width:600px;
  margin:auto;
  overflow:hidden;
  perspective:900px;
  position:relative;
}

.viewport::after{
  content:"";
  position:absolute;
  left:50%;
  top:0;
  transform:translateX(-50%);
  width:190px;
  height:100%;
  border:2px solid #6ae3ff;
  border-radius:20px;
  pointer-events:none;
  box-shadow:0 0 15px #00e0ff;
}

.reel{
  display:flex;
  align-items:center;
}

.item{
  flex:0 0 170px;
  margin:0 10px;
  padding:20px;
  border-radius:16px;
  background:#1c2040;
  text-align:center;
  transform-style:preserve-3d;
  box-shadow:0 8px 20px rgba(0,0,0,0.4);
}

.emoji{
  font-size:42px;
}
/* CONTROLS */

.controls{
  margin-top:40px;
}

.controls button{
  padding:12px 18px;
  margin:10px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.select{
  background:#ff2d95;
  color:white;
}

.wishlist{
  background:#ff4081;
  color:white;
}

.cart{
  background:#ffc107;
}